@using OpenCharityAuction.Web.Models.Interfaces
@using OpenCharityAuction.Entities.Models

@inject IUserService UserService
@inject IAuctionService AuctionService

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/lib/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/bootstrap.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Open Charity Auction</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <header class="row">

            @{
                var eventId = await UserService.GetCurrentUsersActiveEvent();
                @if (eventId.HasValue)
                {
                    Event thisEvent = new Event();
                    await AuctionService.GetEventById(eventId.Value, x => thisEvent = x);
                    {
                        <div class="col-md-6 headername">
                            <h3>@thisEvent.EventName</h3>
                        </div> 
                        <div class="col-md-6 headerdate">
                            <h3>@thisEvent.EventDate.ToString("MM/dd/yyyy")</h3>
                        </div>

                    }



                }
            }

        </header>



        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Open Charity Auction</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
